{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
{% include 'navBar/navbar.html.twig' %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

 <div class="login_register_wrap section">
        <div class="container">
            <h3 class="titre">CONNEXION</h3>
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                            </div>
                            <form method="post">
                            <div class="message-flash">
                             {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            </div>
                                <div class="form-group">
                                    
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                </div>
                                <div class="form-group">
                                     <label for="inputPassword">Password</label>
                                         <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token"
                                  value="{{ csrf_token('authenticate') }}"
                                    >
                                
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="login">Connexion</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
